{% extends 'base.html' %}
{% block content %}
<form action="" method="post" class="form-inline justify-content-center align-items-center">
    <label for="city1">Місто відправлення:</label>
    <select class="custom-select m-3" name="city1" id="city1">
        {%for city in departure_cities%}
        <option value="{{city[0]}}">{{city[1]}}</option>
        {%endfor%}
    </select>
    <label for="city2">Місто призначення:</label>
    <select class="custom-select m-3" name="city2" id="city2">
        {%for city in arrival_cities%}
        <option value="{{city[0]}}">{{city[1]}}</option>
        {%endfor%}
    </select>
    <button type="submit" class="btn btn-outline-success">Знайти квитки <img src="{{url_for('static', filename='images/train_ico.png')}}" alt=""></button>
</form>
{% endblock %}